DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
JWT_SECRET=
PORT=
FUJISAT_URL=
FUJISAT_USER=
FUJISAT_PASS=
FUJISAT_TEST_MODE=true
FUJISAT_SUBSCRIPTION_PATH=/public-api/operation/subscription/execute
FUJISAT_RENEW_PATH=/public-api/operation/re-subscription/renew
FUJISAT_ALLOW_SELF_SIGNED=false
