body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 15px rgba(14, 13, 13, 0.2);
  text-align: center;
}

.form h2 {
  margin-bottom: 20px;
  color: black;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: black;
  background-color: white;
}

.form input::placeholder {
  color: black;
}

.password-wrapper {
  position: relative;
}

.show-pass-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #000;
}

.form button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background: #5994d8;
}
.error {
  border: 2px solid red !important;
}